.MessageContainer {
  width: 100vw;
  height: 100vh;
  background: rgba(216, 161, 216, 0.3);
  position: relative;
}

.MessageBox {
  width: min(500px, 90%);
  height: calc(500px / 1.654);
  background-color: #ffedb3;
  margin-inline: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 40px;
  border: 1px solid rgb(47, 46, 48);
  box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.4);
}

.MessageImages {
  display: flex;
  justify-content: space-between;
}

.Message-Image {
  width: 100px;
  height: 100px;
}

.MessageAddressee {
  text-align: center;
  padding-top: 10px;
  font-size: 20px;
  font-family: "DotGothic16", sans-serif;
  font-weight: 600;
}

.MessageContents {
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
  font-family: "DotGothic16", sans-serif;
  font-size: 20px;
  font-weight: 500;
}

.PokemonAnime-0 {
  animation: jump 0.5s ease-in-out infinite alternate;
}
.PokemonAnime-1 {
  animation: jump 0.5s ease-in-out infinite alternate;
  animation-delay: 0.2s;
}

.PokemonAnime-2 {
  animation: jump 0.5s ease-in-out infinite alternate;
  animation-delay: 0.3s;
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}

.CreateReturnButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: inherit;
  margin-inline: auto;
  cursor: pointer;
  margin-top: 30px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 10px;
  background-color: rgb(231, 144, 15);
  margin-bottom: 30px;
  width: 260px;
  box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.4);
  height: 60px;
}

.MessageContainer h4 {
  margin: 0;
  text-align: center;
  font-size: 16px;
  padding-top: 20px;
}
